/* Styling for the exercise container and individual exercises */
.exercise-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #f7b733, #fc4a1a); /* Inspirational background */
}
.exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 80%; /* Makes the exercise container horizontally bigger */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}
.exercise label {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.start-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.start-button:hover {
  background-color: #218838;
}
.reset-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px; /* Add some spacing between buttons */
  transition: background-color 0.3s ease;
}
.reset-button:hover {
  background-color: #0056b3;
}
.button-group {
  display: flex;
  align-items: center; /* Center the items vertically */
  margin-left: 10px; /* Space from the exercise label */
}
.done {
  background-color: #28a745; /* Same as start button */
  color: white; /* Text color */
  border-radius: 8px; /* Rounded corners */
  padding: 10px 20px; /* Padding for a button-like appearance */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Make it bold */
  margin-right: 10px; /* Spacing to the right for reset button */
}

/* FinishButton.css */

.finish-button {
  background-color: #061939; /* Green background */
  color: white; /* White text */
  font-size: 16px; /* Font size */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease;
}

.finish-button:hover {
  background-color: #6393dc; /* Darker green on hover */
}

.finish-button:active {
  background-color: #6ea4ea; /* Even darker on click */
}
