.week-container {
    margin-bottom: 20px;
    height: 10vh;
  }
  
  .day-container {
    margin-bottom: 15px;
  }
  
  .day-container h3 {
    color: #555;
    font-size: 1.2em;
  }
  
  .exercise-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .exercise-name {
    font-weight: bold;
    color: #333;
  }
  
  .exercise-count {
    font-weight: bold;
    color: #007BFF;
  }
  