html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
   
    
}

.container1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    /* background-image: url('../assets/OIP.jpeg'); */
    
}

.form {
    width: 100%;
    max-width: 600px; /* Max width to keep form from being too wide */
    background-color: #ffffff; /* White background for form */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
}

.heading {
    margin-bottom: 1rem;
    color: #333; /* Darker text color for better readability */
}

.description {
    margin-bottom: 1.5rem;
    color: #666; /* Slightly lighter text color for description */
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333; /* Darker text color for labels */
}

.select-field, .input-field {
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%; /* Full width for better appearance */
}

.weight-container {
    display: flex;
    gap: 1rem; /* Space between the kg and grams input fields */
}

.weight-input {
    flex: 1; /* Ensure both inputs take equal space */
}

.height-select {
    display: flex;
    gap: 1rem;
}

.submit-button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #4caf50; /* Green button for a positive call-to-action */
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover {
    font-size: 20px;
}
