html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden; /* Prevents scroll bar */
}
.leftDiv_Img{
    height: 100vh;
}
.leftDiv {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;/* Ensure padding and border are included in the width and height */
}

.bgImage {
    width: 100%;
    height: 100%; /* Ensures the image fully fills the left div */
    object-fit: cover; /* Maintains the aspect ratio while covering the entire area */
}

.rightDivs{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 2rem;

}

.containerRightDiv {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeading {
    margin-bottom: 2rem;
}

.heading {
    margin-top: 1rem;
}

.inputField {
    margin-top: 10px;
    border-radius: 5px;
    width: 20rem;
    height: 2rem;
    border: 2px solid #b3b2b2; /* Match the border color */
    padding: 0 10px; /* Add some padding for better appearance */
    font-size: 1rem; /* Adjust the font size to be consistent */
}
.inputFieldSelect {
    margin-top: 10px;
    border-radius: 5px;
    width: 21.5rem;
    height: 2.2rem;
    border: 2px solid #b3b2b2; /* Match the border color */
    padding: 0 10px; /* Add some padding for better appearance */
    font-size: 1rem; /* Adjust the font size to be consistent */
}

.signupBtn {
    margin-top: 2rem;
}

.btn {
    width: 24.5em;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(80, 190, 233);
    color: white;
}

.loginLink {
    font-size: large;
    margin-top: 1rem;
    margin-left: 2px;
}

.errorText {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }

.loginLinkColour {
    color: blue;
    margin-left: 10px;
}
.loginLinkColour:hover{
    color: rgb(72, 160, 255);
}
