.summary {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}

.summaryDet {
    display: flex;
    align-items: center;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill; /* For better image fitting */
}

.imageCont {
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    width: 35%;
}

.details {
    flex: 1;
    margin-left: 20px;
}
